AI Sales Research and Email Generation Assistant
{
    "name": "AI Sales Assistant",
    "nodes": [
        {
            "parameters": [],
            "type": "n8n-nodes-base.manualTrigger",
            "typeVersion": 1,
            "position": [
                128,
                0
            ],
            "id": "6fe3f378-e1f3-45b2-a949-d45759c480e1",
            "name": "When clicking ‘Test workflow’"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Please research these sales call attendees\n\nName: {{ $json.Name }}\nEmail: {{ $json.Email }}\nCompany Name: {{ $json['Company Name'] }}\nWebsite: {{ $json.Website }}\nBusiness Type: {{ $json['Business Type'] }}\nProject: {{ $json.Project }}",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "# Overview  \nYou are an AI agent responsible for gathering company data and updating a Google Sheet with structured output.  \n\n## Context  \n- After generating output, you must call the **Update Sheet** tool with six specific fields.  \n- Do not skip this step or simply return JSON. The tool must be called explicitly to trigger the Google Sheet update.  \n\n## Instructions  \n1. Accept and parse the input fields.  \n2. Use the **Tavily** tool to gather and summarize:  \n   - `company_overview`  \n   - `tech_stack`  \n   - `company_updates`  \n3. Use the **Product List** tool to identify:  \n   - `primary_solution`  \n   - `solution_2`  \n   - `solution_3`  \n4. Format all results as valid JSON with exactly six fields.  \n5. Immediately call the **Update Sheet** tool using the structure shown below.  \n\n## Tools  \n- **Tavily**: Use to research company background, tech stack, and updates.  \n- **Product List**: Use to find relevant products based on business type and project.  \n- **Update Sheet**: Required to write the six outputs into Google Sheets.  \n\n## Examples  \n### Example Input  \n```json\n{\n  \"Name\": \"Acme Inc.\",\n  \"Website\": \"https:\/\/www.acme.com\",\n  \"Business Type\": \"E-commerce\",\n  \"Project\": \"Streamlining logistics with automation\"\n}\n```  \n\n### Example Tavily Summary  \n```json\n{\n  \"company_overview\": \"Acme Inc. is a fast-scaling e-commerce company focused on home goods and lifestyle products.\",\n  \"tech_stack\": \"Shopify, Klaviyo, ShipBob, Gorgias\",\n  \"company_updates\": \"Recently launched a same-day delivery program in select cities and expanded product categories in Q2.\"\n}\n```  \n\n### Example Product List Result  \n```json\n{\n  \"primary_solution\": \"Logistics Automation Suite\",\n  \"solution_2\": \"Customer Retention AI\",\n  \"solution_3\": \"Real-Time Order Tracking\"\n}\n```  \n\n### Example Tool Call  \n```json\n{\n  \"tool_call\": {\n    \"tool\": \"Update Sheet\",\n    \"parameters\": {\n      \"company_overview\": \"Acme Inc. is a fast-scaling e-commerce company focused on home goods and lifestyle products.\",\n      \"tech_stack\": \"Shopify, Klaviyo, ShipBob, Gorgias\",\n      \"company_updates\": \"Recently launched a same-day delivery program in select cities and expanded product categories in Q2.\",\n      \"primary_solution\": \"Logistics Automation Suite\",\n      \"solution_2\": \"Customer Retention AI\",\n      \"solution_3\": \"Real-Time Order Tracking\"\n    }\n  }\n}\n```  \n\n## SOP (Standard Operating Procedure)  \n1. Parse and validate input fields.  \n2. Use Tavily to collect:  \n   - company_overview  \n   - tech_stack  \n   - company_updates  \n3. Use Product List to determine:  \n   - primary_solution  \n   - solution_2  \n   - solution_3  \n4. Combine results into a valid JSON object using exact field names.  \n5. Call the Update Sheet tool using that object.  \n\n## Final Notes  \n- Return only valid JSON — no extra text or descriptions.  \n- Always include all six fields, even if data is limited.  \n- Use of the Update Sheet tool is mandatory to complete the task.  \n---\n"
                }
            },
            "type": "@n8n\/n8n-nodes-langchain.agent",
            "typeVersion": 1.899999999999999911182158029987476766109466552734375,
            "position": [
                640,
                0
            ],
            "id": "8d3c05af-3374-4fe2-a87a-ba1e66caaa97",
            "name": "AI Agent"
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1"
                },
                "options": []
            },
            "type": "@n8n\/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.1999999999999999555910790149937383830547332763671875,
            "position": [
                448,
                224
            ],
            "id": "7c01c7b0-d6f5-4b9c-8e61-d86e2a820322",
            "name": "OpenAI Chat Model",
            "credentials": {
                "openAiApi": {
                    "id": "GeRW0j8m9ri8w5DF",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "toolDescription": "Use this tool to search the internet",
                "method": "POST",
                "url": "https:\/\/api.tavily.com\/search",
                "sendHeaders": true,
                "parametersHeaders": {
                    "values": [
                        {
                            "name": "Authorization",
                            "valueProvider": "fieldValue",
                            "value": "Bearer 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"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "{\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
                "placeholderDefinitions": {
                    "values": [
                        {
                            "name": "searchTerm",
                            "description": "What the user has requested to search the internet for",
                            "type": "string"
                        }
                    ]
                }
            },
            "type": "@n8n\/n8n-nodes-langchain.toolHttpRequest",
            "typeVersion": 1.100000000000000088817841970012523233890533447265625,
            "position": [
                576,
                224
            ],
            "id": "213ba926-b367-464f-94b6-41cf1b8d400d",
            "name": "Tavily"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A",
                    "mode": "list",
                    "cachedResultName": "AI Sales Assistant",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 1986928329,
                    "mode": "list",
                    "cachedResultName": "Products",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit#gid=1986928329"
                },
                "options": []
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.5,
            "position": [
                704,
                224
            ],
            "id": "2c779556-73d5-4490-86e0-274065dfbd54",
            "name": "Product List",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "F8WJEsVJU5vyhtoz",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A",
                    "mode": "list",
                    "cachedResultName": "AI Sales Assistant",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 236449331,
                    "mode": "list",
                    "cachedResultName": "Meeting Data",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit#gid=236449331"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Email": "={{ $json.Email }}",
                        "company_overview": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('company_overview', ``, 'string') }}",
                        "tech_stack": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('tech_stack', ``, 'string') }}",
                        "company_updates": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('company_updates', ``, 'string') }}",
                        "primary_solution": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('primary_solution', ``, 'string') }}",
                        "solution_2": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('solution_2', ``, 'string') }}",
                        "solution_3": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('solution_3', ``, 'string') }}"
                    },
                    "matchingColumns": [
                        "Email"
                    ],
                    "schema": [
                        {
                            "id": "Call Date",
                            "displayName": "Call Date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Name",
                            "displayName": "Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Email",
                            "displayName": "Email",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Company Name",
                            "displayName": "Company Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Website",
                            "displayName": "Website",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Business Type",
                            "displayName": "Business Type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Project",
                            "displayName": "Project",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "company_overview",
                            "displayName": "company_overview",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "tech_stack",
                            "displayName": "tech_stack",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "company_updates",
                            "displayName": "company_updates",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "primary_solution",
                            "displayName": "primary_solution",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "solution_2",
                            "displayName": "solution_2",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "solution_3",
                            "displayName": "solution_3",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "email_subject",
                            "displayName": "email_subject",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "email_text",
                            "displayName": "email_text",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "sms",
                            "displayName": "sms",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": []
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.5,
            "position": [
                832,
                224
            ],
            "id": "ae838419-7adf-47ab-ac00-8eb1c78506b6",
            "name": "Update Sheet",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "F8WJEsVJU5vyhtoz",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "jsonSchemaExample": "{\n  \"company_overview\": \"string (max 100 tokens)\",\n  \"tech_stack\": [\"string\", \"string\", \"...\"],\n  \"company_updates\": \"string (max 150 tokens)\",\n  \"primary_solution\": \"string\",\n  \"solution_2\": \"string\",\n  \"solution_3\": \"string\"\n}\n"
            },
            "type": "@n8n\/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.1999999999999999555910790149937383830547332763671875,
            "position": [
                960,
                224
            ],
            "id": "73515127-eb1d-4b35-8468-d45c8b537f6d",
            "name": "Structured Output Parser"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "=Name: {{ $('Review Calls').item.json.Name }}\nEmail: {{ $('Review Calls').item.json.Email }}\nCompany Name: {{ $('Review Calls').item.json['Company Name'] }}\nWebsite: {{ $('Review Calls').item.json.Website }}\nBusiness Type: {{ $('Review Calls').item.json['Business Type'] }}\nProject: {{ $('Review Calls').item.json.Project }}\ncompany_overview: {{ $json.output.company_overview }}\ntech_stack: {{ $json.output.tech_stack }}\ncompany_updates: {{ $json.output.company_updates }}\nprimary_solution: {{ $json.output.primary_solution }}\nsolution_2: {{ $json.output.solution_2 }}\nsolution_3: {{ $json.output.solution_3 }}\n",
                "hasOutputParser": true,
                "options": {
                    "systemMessage": "=# Overview  \nYou are a Sales Writing Assistant AI agent responsible for generating a short, personal, and persuasive email, subject line, and SMS right after a prospect books a call. The format must feel handcrafted and human, while integrating strong personalization and a sharp testimonial to build conviction fast.  \n\n## Context  \n- The prospect should feel like the message was written specifically for them—not templated or generic.  \n- The core structure focuses on one key problem they face, followed by immediate proof that we’ve solved that problem for someone just like them.  \n- Messaging must be short, clean, confident, and natural—written like a thoughtful sales rep, not a marketer.  \n- SMS should be simple, friendly, and casual.  \n- Final output must also be logged in a Google Sheet.  \n\n## Instructions  \n1. Analyze the input fields to identify:  \n   - Prospect’s first name, company, business type, and project  \n   - Their specific pain point or goal  \n   - Tech stack or approach they’re using to solve it  \n2. Use the Testimonials Tool to find a success story with a company similar in size, industry, or problem. Pull:  \n   - Company name  \n   - Business type  \n   - Specific result  \n   - Outcome  \n   - Solution used  \n3. Draft a subject line like:  \n   - “Excited to connect, (first name)”  \n4. Write the email using the following exact structure and voice:  \n   ```\n   Subject: Excited to connect, (first name)\n\n   Hey (first name),\n\n   Saw your booking—excited to dive in on (meeting date).\n\n   Automating (problem\/project) is right in our wheelhouse. We actually just helped (testimonial first name) who owns (testimonial business name\/type) [achieve similar outcome] and (outcome)—just by (solution).\n\n   Looking forward to showing you what’s possible.\n\n   – Bryan Edsel\n   ```\n5. Draft the SMS message using this format:  \n   - “Hey (first name)! Bryan from WebsiteLearners here—just saw your appointment come through. Pumped to hear more about (project details). See you on (meeting day\/date)!”  \n6. Output must include:  \n   - Subject  \n   - Email  \n   - Text Message  \n\n## Tools  \n- Testimonials Tool: For pulling relevant proof points  \n- Email Agent: For formatting and polishing  \n- Update Sheets 2: To store outputs  \n\n## Examples  \n- **Output Subject:**  \n  Excited to connect, Jason  \n\n- **Output Email:**  \n  Hey Jason,  \n\n  Saw your booking—excited to dive in on Thursday.  \n\n  Automating custom proposal workflows is right in our wheelhouse. We actually just helped Vibe Studios who runs a creative agency cut 12+ hrs\/week of manual drafting and boost proposal output by 4x—just by automating creative packaging from content requests.  \n\n  Looking forward to showing you what’s possible.  \n\n  – Bryan Edsel  \n\n- **Output Text Message:**  \n  Hey Jason! Bryan from WebsiteLearners here—just saw your appointment come through. Pumped to hear more about your proposal automation plans. See you on Thursday!  \n\n## SOP (Standard Operating Procedure)  \n1. Parse all inputs and identify:  \n   - Name  \n   - Specific problem or goal  \n   - Relevant testimonial  \n2. Draft:  \n   - Subject line using first name  \n   - Email using the provided structure and tone  \n   - SMS with natural tone  \n3. Output fields:  \n   - Output Subject  \n   - Output Email  \n   - Output Text Message  \n4. Use Update Sheets 2 to store the following:  \n   - Name  \n   - Email  \n   - Company Name  \n   - Subject  \n   - Email Body  \n   - SMS Message  \n\n## Final Notes  \n- Use clean, minimal formatting—no fluff, no pitchy language.  \n- The testimonial is central—tie it directly to the prospect’s challenge.  \n- The tone should sound like a proactive, thoughtful rep who did their homework.  \n---"
                }
            },
            "type": "@n8n\/n8n-nodes-langchain.agent",
            "typeVersion": 1.899999999999999911182158029987476766109466552734375,
            "position": [
                1264,
                0
            ],
            "id": "f19a0173-602e-41db-875b-001f6ee082db",
            "name": "Sales Writing Assistant"
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A",
                    "mode": "list",
                    "cachedResultName": "AI Sales Assistant",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 236449331,
                    "mode": "list",
                    "cachedResultName": "Meeting Data",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit#gid=236449331"
                },
                "filtersUI": {
                    "values": [
                        {
                            "lookupColumn": "company_overview"
                        }
                    ]
                },
                "options": []
            },
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4.5,
            "position": [
                352,
                0
            ],
            "id": "3b190149-e28d-45c2-8444-cf5b74e306e9",
            "name": "Review Calls",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "F8WJEsVJU5vyhtoz",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "model": {
                    "__rl": true,
                    "value": "gpt-4.1",
                    "mode": "list",
                    "cachedResultName": "gpt-4.1"
                },
                "options": []
            },
            "type": "@n8n\/n8n-nodes-langchain.lmChatOpenAi",
            "typeVersion": 1.1999999999999999555910790149937383830547332763671875,
            "position": [
                1120,
                224
            ],
            "id": "66828b7d-d5f4-4933-a546-7a2652c03038",
            "name": "OpenAI Chat Model1",
            "credentials": {
                "openAiApi": {
                    "id": "GeRW0j8m9ri8w5DF",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "documentId": {
                    "__rl": true,
                    "value": "1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A",
                    "mode": "list",
                    "cachedResultName": "AI Sales Assistant",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 2060485763,
                    "mode": "list",
                    "cachedResultName": "Success Stories",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit#gid=2060485763"
                },
                "options": []
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.5,
            "position": [
                1280,
                224
            ],
            "id": "cecd3705-08ff-4367-a103-1922d8a7a9ea",
            "name": "Testimonials Tool",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "F8WJEsVJU5vyhtoz",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "schemaType": "manual",
                "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the confirmation email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The full content of the confirmation email\"\n    },\n    \"text_message\": {\n      \"type\": \"string\",\n      \"description\": \"The full content of the confirmation SMS message\"\n    }\n  },\n  \"required\": [\"subject\", \"email\", \"text_message\"]\n}\n"
            },
            "type": "@n8n\/n8n-nodes-langchain.outputParserStructured",
            "typeVersion": 1.1999999999999999555910790149937383830547332763671875,
            "position": [
                1568,
                224
            ],
            "id": "cb2beecb-bd0e-42e3-b5bd-8dd1954d671b",
            "name": "Structured Output Parser1"
        },
        {
            "parameters": {
                "operation": "update",
                "documentId": {
                    "__rl": true,
                    "value": "1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A",
                    "mode": "list",
                    "cachedResultName": "AI Sales Assistant",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit?usp=drivesdk"
                },
                "sheetName": {
                    "__rl": true,
                    "value": 236449331,
                    "mode": "list",
                    "cachedResultName": "Meeting Data",
                    "cachedResultUrl": "https:\/\/docs.google.com\/spreadsheets\/d\/1ZsgLwe9CpST8b_6bGcdLoKk2aE_2SiyhJqJ0Tve2G9A\/edit#gid=236449331"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Email": "={{ $('Review Calls').item.json.Email }}",
                        "email_subject": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('email_subject', ``, 'string') }}",
                        "email_text": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('email_text', ``, 'string') }}",
                        "sms": "={{ \/*n8n-auto-generated-fromAI-override*\/ $fromAI('sms', ``, 'string') }}"
                    },
                    "matchingColumns": [
                        "Email"
                    ],
                    "schema": [
                        {
                            "id": "Call Date",
                            "displayName": "Call Date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Name",
                            "displayName": "Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Email",
                            "displayName": "Email",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": false
                        },
                        {
                            "id": "Company Name",
                            "displayName": "Company Name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Website",
                            "displayName": "Website",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Business Type",
                            "displayName": "Business Type",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "Project",
                            "displayName": "Project",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "company_overview",
                            "displayName": "company_overview",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "tech_stack",
                            "displayName": "tech_stack",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "company_updates",
                            "displayName": "company_updates",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "primary_solution",
                            "displayName": "primary_solution",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "solution_2",
                            "displayName": "solution_2",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "solution_3",
                            "displayName": "solution_3",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "email_subject",
                            "displayName": "email_subject",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "email_text",
                            "displayName": "email_text",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "sms",
                            "displayName": "sms",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "row_number",
                            "displayName": "row_number",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "readOnly": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                },
                "options": []
            },
            "type": "n8n-nodes-base.googleSheetsTool",
            "typeVersion": 4.5,
            "position": [
                1424,
                224
            ],
            "id": "034ed008-8fbc-4d64-86d8-164ba784ba75",
            "name": "Update Sheets 2",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "F8WJEsVJU5vyhtoz",
                    "name": "Google Sheets account"
                }
            }
        }
    ],
    "pinData": [],
    "connections": {
        "When clicking ‘Test workflow’": {
            "main": [
                [
                    {
                        "node": "Review Calls",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Tavily": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Product List": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheet": {
            "ai_tool": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser": {
            "ai_outputParser": [
                [
                    {
                        "node": "AI Agent",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "AI Agent": {
            "main": [
                [
                    {
                        "node": "Sales Writing Assistant",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Review Calls": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI Chat Model1": {
            "ai_languageModel": [
                [
                    {
                        "node": "Sales Writing Assistant",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Testimonials Tool": {
            "ai_tool": [
                [
                    {
                        "node": "Sales Writing Assistant",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Structured Output Parser1": {
            "ai_outputParser": [
                [
                    {
                        "node": "Sales Writing Assistant",
                        "type": "ai_outputParser",
                        "index": 0
                    }
                ]
            ]
        },
        "Update Sheets 2": {
            "ai_tool": [
                [
                    {
                        "node": "Sales Writing Assistant",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {
        "executionOrder": "v1"
    },
    "versionId": "ac7daa57-6dda-4d72-a89b-b3846c16cde2",
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "9464c233c8ce92eb1be9c98a2df461f62dd1a9dbc56cacc0cf1c21fabe22352c"
    },
    "id": "1rqz8yfesGbhrY63",
    "tags": []
}
